
a {
    cursor: pointer;
    color: #3F3F3F;
}

code {
    color: #424242;
}

.hoverClass {
    cursor: pointer;
}
.icon {
    display: inline-block;
    vertical-align: middle;
}
.icon_browser {
    width: 30px;
    height: 30px;
    background: url('./img/icon_browser.svg') no-repeat center;
}

.icon_folder {
    width: 20px;
    height: 26px;
    background: url('./img/icon_folder.svg') no-repeat center;
}

.icon_sms {
    width: 97px;
    height: 70px;
    background: url('./img/sms_push.png') no-repeat center;
    background-size: cover;
}

.icon_ussd {
    width: 40px;
    height: 60px;
    background: url('./img/ussd_push.png') no-repeat center;
}

.icon_gift {
    width: 57px;
    height: 60px;
    background: url('./img/gift_data.png') no-repeat center;
}

.containerFlex {
    position: relative;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
}

/* SIDEBAR */


.sideBar {
    width: 20%;
    max-width: 428px;
    padding: 25px 10px;
    border-right: 2px solid #C1211E;
    background: #FAFAFA;
    flex-basis: 428px;
    order: 1;
    overflow: auto;
    position: fixed;
    top: 10%;
    bottom: 0;
    height: 100%;
    left: 0;
}

.sideBar__title {
    padding-bottom: 20px;
    border-bottom: 1px solid #D1D1D1;
    font-weight: 800;
}

.listnav {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.listnav__list {
    width: 100%;
}

.listnav__list ul {
    margin: 10px 0;
    padding: 0 10px;
}

.listnav__list ul.hide {
    transform: translateY(-14%);
    opacity: 0;
    transition: all .5s ease-in-out;
}

.listnav__list ul.show {
    transform: translateY(0%);
    opacity: 1;
    transition: all .5s ease-in-out;
}

.listnav__list ul li {
    list-style: none;
    margin: 15px 0;
    font-size: 14px;
}

.listnav__list li a.active .listnav__list--text {
    color: #C1211E;
}

.listnav__list--text {
    display: inline-block;
    margin-left: 10px;
}

/*==========*/

/*CONTENT*/

.content {
    flex-basis: 58%;
    order: 2;
    padding: 20px;
    position: relative;
    left: 20%;
}

.content__title {
    font-size: 30px;
    font-weight: bold;
}

.content__subtitle--title {
    font-size: 28px;
    font-weight: 600;
}

.content__text--border {
    border: 1px solid #4e4e4e;
    padding: 5px;
}

.content__subtitle {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content__text {
    line-height: 23px;
    font-size: 1rem;
    margin-bottom: 20px;
    /*font-family: "Noto Sans";*/
}

.content__table {
    margin: 10px 0 30px 0;
}

.content__table table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.content__table table th {
    background: #FCCC00;
}

.content__table table th,
.content__table table td {
    border: 1px solid #979797;
    padding: 10px;
    text-align: left
}

.containerBox {
    width: 100%;
    margin: 10% auto;
}

.box {
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0px 8px 11px 0px rgba(150, 150, 150, 0.13);
    width: 30%;
    text-align: center;
    padding: 34px 20px;
    display: inline-block;
    margin: 0 20px;
    font-weight: 400;
    transition: all 0.5s ease;
    cursor: pointer;
}

.box__title {
    margin: 10px 0 0 -15px;
    opacity: 0.5;
    transition: all 0.5s ease;
}

.box:hover {
    box-shadow: 0px 8px 11px 0px rgba(0,0,0,0.13);
}

.box:hover .box__title {
    opacity: 1;
}




/*=========*/
.footer {
    position: relative;
}
/*SHORTHANDS*/

.ml-10 {
    margin-left: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-15r {
    margin-bottom: 15rem;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.bold {
    font-weight: bold;
}

.inline-block {
    display: inline-block;
}